/****** Object:  Database [porg6212]    Script Date: 2025/11/21 15:42:39 ******/
CREATE DATABASE [porg6212]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 100 MB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Approvals]    Script Date: 2025/11/21 15:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approvals](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[ApprovedBy] [nvarchar](100) NOT NULL,
	[Decision] [nvarchar](50) NOT NULL,
	[DecisionDate] [datetime2](7) NOT NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 2025/11/21 15:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[LecturerId] [int] NOT NULL,
	[HoursWorked] [decimal](18, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 2025/11/21 15:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportingDocuments]    Script Date: 2025/11/21 15:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportingDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[FileName] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](200) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedByLecturerId] [int] NOT NULL,
	[FilePath] [nvarchar](2000) NOT NULL,
	[EncryptionIVBase64] [nvarchar](200) NOT NULL,
	[SizeBytes] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/11/21 15:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](200) NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Approvals] ON 

INSERT [dbo].[Approvals] ([ApprovalId], [ClaimId], [ApprovedBy], [Decision], [DecisionDate], [Comments]) VALUES (1, 1, N'Coordinator', N'Pending', CAST(N'2025-11-20T10:10:10.4107718' AS DateTime2), N'Initial')
INSERT [dbo].[Approvals] ([ApprovalId], [ClaimId], [ApprovedBy], [Decision], [DecisionDate], [Comments]) VALUES (2, 1, N'Coordinator', N'Approved', CAST(N'2025-11-20T12:13:18.9522237' AS DateTime2), N'Approved via list.')
INSERT [dbo].[Approvals] ([ApprovalId], [ClaimId], [ApprovedBy], [Decision], [DecisionDate], [Comments]) VALUES (8, 6, N'System', N'Flagged', CAST(N'2025-11-21T08:46:21.3652527' AS DateTime2), N'Hours exceed monthly maximum (150).')
SET IDENTITY_INSERT [dbo].[Approvals] OFF
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedAt], [Notes]) VALUES (1, 1, CAST(20.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), N'Approved', CAST(N'2025-11-20T10:02:12.1520942' AS DateTime2), N'Sample claim')
INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedAt], [Notes]) VALUES (6, 1, CAST(160.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(24000.00 AS Decimal(18, 2)), N'Flagged', CAST(N'2025-11-21T08:45:42.6665785' AS DateTime2), N'here')
INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedAt], [Notes]) VALUES (7, 1, CAST(140.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(21000.00 AS Decimal(18, 2)), N'Rejected', CAST(N'2025-11-21T08:46:04.7081938' AS DateTime2), N'sdfgdg')
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([LecturerId], [UserId], [Name], [Email]) VALUES (1, 4, N'Alice Lecturer', N'alice@example.com')
INSERT [dbo].[Lecturers] ([LecturerId], [UserId], [Name], [Email]) VALUES (4, 8, N'Alex Ornelas', N'Ale5@gmail.com')
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportingDocuments] ON 

INSERT [dbo].[SupportingDocuments] ([DocumentId], [ClaimId], [FileName], [FileType], [UploadedAt], [UploadedByLecturerId], [FilePath], [EncryptionIVBase64], [SizeBytes]) VALUES (4, 1, N'Proof of payment 2 (2).docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', CAST(N'2025-11-20T17:31:47.1844542' AS DateTime2), 1, N'C:\Desktop\CMCSPart2\App_Data/supporting-docs\1\4-Proof_of_payment_2_2_.docx.enc', N'D1n/uaNfjrCHLFlu4gM5YA==', 13392)
INSERT [dbo].[SupportingDocuments] ([DocumentId], [ClaimId], [FileName], [FileType], [UploadedAt], [UploadedByLecturerId], [FilePath], [EncryptionIVBase64], [SizeBytes]) VALUES (5, 8, N'Proof of payment 6.docx', N'application/vnd.openxmlformats-officedocument.wordprocessingml.document', CAST(N'2025-11-21T12:19:58.4918548' AS DateTime2), 4, N'C:\Desktop\st10437348_prog6212_Summative\CMCSSummative\CMCSSummative\App_Data/supporting-docs\8\5-Proof_of_payment_6.docx.enc', N'DsQVVUICOn9iQB/AoR5X+g==', 13440)
SET IDENTITY_INSERT [dbo].[SupportingDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (1, N'hradmin', N'hrpass', N'HR', N'HR', N'Admin', N'hr@example.com', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (2, N'coord', N'coordinator', N'Coordinator', N'Coord', N'User', N'coord@example.com', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [FirstName], [LastName], [Email], [HourlyRate]) VALUES (3, N'mgr', N'manager', N'Manager', N'Manager', N'User', N'manager@example.com', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E450B9223F]    Script Date: 2025/11/21 15:42:39 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[Approvals]  WITH CHECK ADD  CONSTRAINT [FK_Approval_Claim] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([ClaimId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Approvals] CHECK CONSTRAINT [FK_Approval_Claim]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claim_Lecturer] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturers] ([LecturerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claim_Lecturer]
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD  CONSTRAINT [FK_Lecturer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lecturers] CHECK CONSTRAINT [FK_Lecturer_User]
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD  CONSTRAINT [FK_Doc_Claim] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([ClaimId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportingDocuments] CHECK CONSTRAINT [FK_Doc_Claim]
GO
